<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{530,692}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{530,692}}</string>
                <key>sourceSize</key>
                <string>{532,694}</string>
            </dict>
            <key>ps_bo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1856},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ps_bq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1588},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ps_bq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1630},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ps_bq3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1630},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ps_danci_k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1550},{328,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{328,304}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_k2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{358,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{358,280}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_k3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,342},{338,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{338,264}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_k4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1740},{340,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{340,294}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_k5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1244},{342,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,79},{342,146}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_k6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1738},{330,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{330,304}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_mk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1244},{328,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{328,304}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_mk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{358,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{358,280}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_mk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{338,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{338,264}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_mk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1740},{340,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{340,294}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_mk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1482},{342,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,79},{342,146}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_danci_mk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1176},{330,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{330,304}}</string>
                <key>sourceSize</key>
                <string>{358,304}</string>
            </dict>
            <key>ps_dancibj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>ps_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,644},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,38}</string>
            </dict>
            <key>ps_luyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1856},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ps_luyin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1856},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ps_luyin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1630},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{104,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ps_shoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1630},{106,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,124}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>ps_tishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,682},{634,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,560}}</string>
                <key>sourceSize</key>
                <string>{634,560}</string>
            </dict>
            <key>ps_tishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1482},{216,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,202}}</string>
                <key>sourceSize</key>
                <string>{216,202}</string>
            </dict>
            <key>ps_tishi_zhidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,682},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>word.pvr.ccz</string>
            <key>size</key>
            <string>{1406,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d198800ae077c2180dcbd522e8e13dfa:1/1$</string>
            <key>textureFileName</key>
            <string>word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
